@tailwind base;
@tailwind components;
@tailwind utilities;


.login .title {
    font-size: 3em;
    color: rgb(255 76 0 / var(--tw-bg-opacity));
    font-weight: 900;
}


.bg-brand-shape {
    background: #fefefe url(../../brand-shape.png) no-repeat center center;
    background-size: cover;
    background-size: 45%;
    background-position-x: 0px;
    background-position-y: 100%;
}

.border-orange-400 {
    border-color: rgb(255 76 0 / var(--tw-bg-opacity));
}

.h-nav-top {
    height: 5em;
}