@tailwind base;
@tailwind components;
@tailwind utilities;


.login .title {
    font-size: 3em;
    color: rgb(255 76 0 / var(--tw-bg-opacity));
    font-weight: 900;
}


.bg-brand-shape {
    background: #fefefe url(../../brand-shape.png) no-repeat center center;
    background-size: cover;
    background-size: 45%;
    background-position-x: 0px;
    background-position-y: 100%;
}

.border-orange-400 {
    border-color: rgb(255 76 0 / var(--tw-bg-opacity));
}

.h-nav-top {
    height: 5em;
}


.bg-fe {
    background-color: #fefefe;
}

.h-nav-top .item {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-radius: 5px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.h-nav-top .item:focus, .h-nav-top .item:hover {
    background-color: whitesmoke;
}

.h-nav-top .dropdown-bf {
    border-left: 0.24em solid red;
    border-radius: 0px;
}

